# The full URL the site will be run at; used for oauth/websocket URLs, among other things
HOST=http://127.0.0.1:3000/

# The port to serve the app at
PORT=3000

# Pick a nice, long random string
SESSION_SECRET=ASbniog6iao54iOAWN2nETUYHian(idwjswrTndw

# Obtain these at https://www.reddit.com/prefs/apps
REDDIT_CONSUMER_KEY=_abCdEfgHijK
REDDIT_CONSUMER_SECRET=zYx_a1B2cDEFghi