nav.navbar.navbar-default.navbar-fixed-top {
  @media (max-width: $screen-xs-max) {
    position: absolute;
  }

  .navbar-brand {
    h1 {
      display: none;
    }

    font-size: 30px;
    padding: 8px 1em;
  }

  li.dropdown.open > ul.dropdown-menu {
    overflow-y: auto;
    max-height: 500px;
  }

  .user-menu {
    li.setting-checkbox > a {
      padding-left: 20px;

      &.checked {
        &:before {
          @include fa-icon;
          content: $fa-var-check-square;
          padding-right: 1em;
        }
      }

      &.unchecked {
        &:before {
          @include fa-icon;
          content: $fa-var-square;
          padding-right: 1em;
        }
      }
    }
  }
}
