doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='https://cdn.socket.io/socket.io-1.3.5.js')
    script(src='/js/tv.js')
  body
    block content
