@import "bootstrap";
@import "font-awesome";
@import "icomoon";

.channel-list {
  background-color: #fefefe;
  border: 1px solid black;
}

.item-list {
  margin: $grid-gutter-width;
  width: 480px;
  background-color: #fefefe;
  border: 1px solid black;
}

.item {
  border: 1px solid black;
  margin: 20px 0px;

  .thumbnail {
    img {
      min-height: 100%;
      min-width: 100%;
      opacity: 0;
    }

    overflow: hidden;
    background: no-repeat center center;
    max-height: 300px;
  }

  &.active {
    background-color: red;
  }
}

#viewer-container {
  background-color: orange;
  position: fixed;
  top: 70px;
  left: 0;
  right: 550px;
  bottom: 0;

  #viewer {
    h2 {
      font-size: 1.2em;
      margin: 0px 0px;
    }

    background-color: green;
    border: 1px solid black;
  }
}

.embed-responsive-free {
  // Just a 16by9 default, we calculate the actual padding per-item
  padding-bottom: 56.25%;
  max-height: 100%;
}

nav.navbar.navbar-default {
  .navbar-brand h1 {
    display: none;
  }
}
