@import "base";

body {
  padding-top: 50px;
}

#tv > .container-fluid {
  padding: 0;
}

nav.navbar.navbar-default {
  .navbar-brand {
    h1 {
      display: none;
    }

    font-size: 30px;
    padding: 8px 1em;
  }
}

.channel-list {
  background-color: #fefefe;
  border: 1px solid black;
}

